.category-page {
    padding: 30px 0;
}
.category-page .category-page-intro {
    margin-bottom: 45px;
}
.category-page .category-page-intro h1 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 20px; 
}

.category-page .category-page-intro p {
    font-size: 16px;
    line-height: 24px;
}

.category-page .category-page-category {
    float: none; display: inline-block; margin: 0 -0.125em;
    vertical-align: top;
    margin-bottom: 30px;
}

.category-page .category-page-category h2 {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}

.category-page .category-page-category h2 a {
    color: #000;
    text-decoration: none;
}

.category-page .category-page-category p {
    font-size: 16px;
    line-height: 24px;
}

.category-page .category-page-category ul {

}

.category-page .category-page-category ul li {

}