.co-workers-page {
    border-left: 1px solid rgb(201, 201, 201);
}

.co-workers-page h1 {
    margin-bottom: 24px;
}

.co-workers-page .co-workers-page-info {
    margin-bottom: 24px;
}

.co-workers-page .co-workers-page-info p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}

.co-workers-page .co-workers-page-info img {
    max-width: 100%;
}

.co-workers-page ul {
    margin-bottom: 20px;
    list-style: none;
}

.co-workers-page ul li {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;

}

.co-workers-page ul li a {
    display: block;
    text-decoration: none; 
}

.co-workers-page ul li .co-worker-name {
    color: #002b7f;
    font-size: 14px;
    display: block;
}

.co-workers-page ul li .co-worker-position {
    color: #000;
    font-size: 10px;
    display: block;
    line-height: 15px;
}