.co-worker-page {
    border-left: 1px solid rgb(201, 201, 201);
    margin-left: -1px;
}

.co-worker-page img {
    max-width: 100%;
}

.co-worker-page .co-worker-page-content {
    line-height: 21px;
}

.co-worker-page .co-worker-page-content span {
    font-size: 14px;
    display: block;
}

.co-worker-page .co-worker-page-content .co-worker-page-position {
    margin-bottom: 16px;
}

@media (max-width: 990px) {
    .co-worker-page {
        border-left: none;
    }
}

@media (max-width: 767px) {
    .co-worker-page .co-worker-page-content {
        margin-top: 15px;
    }
}