.co-worker-page {

}

.co-worker-page img {
    max-width: 100%;
}

.co-worker-page .co-worker-page-content {
    line-height: 31px;
}

.co-worker-page .co-worker-page-content span,
.co-worker-page .co-worker-page-content p {
    font-size: 14px;
}

.co-worker-page .co-worker-page-content span {
    margin-bottom: 14px;
    display: block;
}

.co-worker-page .co-worker-page-content p {

}

@media (max-width: 767px) {
    .co-worker-page .co-worker-page-content {
        margin-top: 15px;
    }
}