.co-worker-page {

}

.co-worker-page .co-worker-name {
    color: #002b7f;
    font-size: 14px;
    display: block;
}

.co-worker-page .co-worker-position {
    color: #000;
    font-size: 10px;
    display: block;
    line-height: 15px;
}