.co-workers-page {
    border-left: 1px solid rgb(201, 201, 201);
}

.co-workers-page h1 {
    margin-bottom: 24px;
}

.co-workers-page .co-workers-page-info {
    margin-bottom: 24px;
}

.co-workers-page .co-workers-page-info p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}

.co-workers-page .co-workers-page-info img {
    max-width: 100%;
}

.co-workers-page .co-workers-page-info ul {
    list-style: disc;
    margin-left: 16px;
    margin-bottom: 20px;
}

.co-workers-page .co-workers-page-info ul li {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 10px 0;
}