.iframe-page {
    border-left: 1px solid rgb(201, 201, 201);
    min-height: unset;
}

.iframe-page iframe {
    display: block;
    position: relative;
    height: 1137px;
    max-width: 100%;
    border: none;
}
