.image-archive-page {
    border-left: 1px solid rgb(201, 201, 201);
    margin-left: -1px;
}

.image-archive-page ul .image-container {
    margin-bottom: 15px;
    float: none; display: inline-block; margin: 0 -0.125em;
    vertical-align: top;
    margin-bottom: 30px;
}

.image-archive-page ul {
    margin-bottom: 20px;
    list-style: none;
}

.image-archive-page ul li a {
    color: #000;
    display: block;
    text-decoration: none;
    max-width: 143px; 
}

.image-archive-page ul li a img {
    max-width: 100%;
    margin-bottom: 10px;
}

.image-archive-page ul li a span {
    display: block;
    font-size: 14px;
    line-height: 15px;
}

@media (max-width: 990px) {
    .image-archive-page {
        border-left: 0;
    }
}