.image-archive-page {
    border-left: 1px solid rgb(201, 201, 201);
    margin-left: -1px;
}

.image-archive-page ul {

}

.image-archive-page ul li {

}

.image-archive-page ul li a {
    color: #000;
    display: block;
    text-decoration: none;
}

.image-archive-page ul li a img {
    max-width: 100%;
    margin-bottom: 10px;
}

.image-archive-page ul li a span {
    display: block;
    font-size: 14px;
    line-height: 15px;
}