.list-presentations-page {
    border-left: 1px solid rgb(201, 201, 201);
    margin-left: -1px;
}

.list-presentations-page p {
    margin-bottom: 20px;
}

.list-presentations-page h2 {
    line-height: 31px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-presentations-page ul {
    margin-bottom: 30px;
}

.list-presentations-page ul li {
    border-bottom: 1px solid #e4e4e4;
}

.list-presentations-page ul li:first-child {
    border-top: 1px solid #e4e4e4;
}

.list-presentations-page ul li a {
    padding: 16px 0;
    display: block;
    color: #002b7f;
    text-decoration: none;
}

.list-presentations-page ul .list-presentations-page-internal-media a:before {
    background: url(/images/filetypes/pdf.png) no-repeat center left !important;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: -5px;
    content: "";
}

.list-presentations-page ul .list-presentations-page-external a:before {
    background: url(/images/filetypes/movie.png) no-repeat center left !important;
    float: left;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-top: -5px;
    content: "";
}

@media (max-width: 990px ) {
   .list-presentations-page {
        border-left: none;
        margin-left: 0;
    }
}