.list-presentations-page {
    border-left: 1px solid rgb(201, 201, 201);
    margin-left: -1px;
}

.list-presentations-page p {
    margin-bottom: 20px;
}

.list-presentations-page h2 {
    line-height: 31px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-presentations-page ul {
    margin-bottom: 30px;
}

.list-presentations-page ul li {
    border-bottom: 1px solid #e4e4e4;
}

.list-presentations-page ul li:first-child {
    border-top: 1px solid #e4e4e4;
}

.list-presentations-page ul li a {
    padding: 16px 0;
    display: block;
    color: #002b7f;
    text-decoration: none;
}