.newsroom-page .newsroom-page-intro {
    margin-bottom: 40px
}

.newsroom-page .newsroom-page-intro p {
    line-height: 24px;
}

.newsroom-page .newsroom-page-comments,
.newsroom-page .newsroom-page-notices
 {
    background: #fff url(/images/menu-gradient.png) repeat-x bottom left;
    border: 1px solid #d5d5d5;
    border-bottom: 4px solid #A0A0A0;
    padding: 15px 30px 30px 30px;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 20px;
}

.newsroom-page .newsroom-page-comments h2,
.newsroom-page .newsroom-page-notices h2 {
    font-size: 24px;
    color: #002b7f;
    font-weight: bold;
    margin-bottom: 36px;
}
.newsroom-page .newsroom-page-comments h2:before {
    background: url('/images/investor_icons_vector.svg') -88.8px -2.4px no-repeat;
    background-size: 192px 192px;
    height: 45px;
    width: 45px;
    display: inline-block;
    margin-bottom: -15px;
    margin-right: 15px;
    content: "";

}

.newsroom-page .newsroom-page-notices h2:before {
    background: url('/images/investor_icons_vector.svg') -88.8px -52.8px no-repeat;
    background-size: 192px 192px;
    height: 45px;
    width: 20px;
    display: inline-block;
    margin-bottom: -22px;
    margin-right: 15px;
    content: "";
}


.newsroom-page .newsroom-page-notices .newsroom-page-notices-notice,
.newsroom-page .newsroom-page-comments .newsroom-page-comments-comment {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-expandable,
.newsroom-page .newsroom-page-notices .newsroom-page-notices-expandable {
    display: none;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-expand-btn,
.newsroom-page .newsroom-page-notices .newsroom-page-notices-expand-btn {
    background-color: Transparent;
    background-repeat :no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #002B7F;
    float: right;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-expand-btn span,
.newsroom-page .newsroom-page-notices .newsroom-page-notices-expand-btn span {
    display: none;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-expand-btn span.active,
.newsroom-page .newsroom-page-notices .newsroom-page-notices-expand-btn span.active {
    display: block;
}

.newsroom-page .newsroom-page-comments h3,
.newsroom-page .newsroom-page-notices h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 21px;
    line-height: 27px;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-date span,
.newsroom-page .newsroom-page-notices .newsroom-page-notices-date span {
    color: #a0a0a0;
    font-size: 14px;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-time,
.newsroom-page .newsroom-page-notices .newsroom-page-notices-time { 
    background: url(/images/time.png) no-repeat left;
    padding-left: 14px;
    margin-left: 14px;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-premable, 
.newsroom-page .newsroom-page-notices .newsroom-page-notices-premable {
    margin-bottom: 20px;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-links li a,
.newsroom-page .newsroom-page-notices .newsroom-page-notices-links li a {
    padding: 10px 0;
    color: #002B7F;
    border-top: 1px solid #E4E4E4;
    display: block;
}

.newsroom-page .newsroom-page-comments .newsroom-page-comments-links li a {
    background: url(/images/filetypes/pdf.png) no-repeat 0px 11px;
    padding-left: 30px;
}

@media (max-width: 500px) {
    .newsroom-page .newsroom-page-comments h2:before,
    .newsroom-page .newsroom-page-notices h2:before {
        display: block;
        margin-bottom: 10px;
    }
}