.sitemap-page {

}

.sitemap-page .sitemap-page-list ul {
    width: 98%;
    float: right;
}

.sitemap-page .sitemap-page-list li {
    
}

.sitemap-page .sitemap-page-list li a {
    padding: 10px 0 10px 10px;
    display: block;
    color: #000;
    border-bottom: 1px solid #c4c4c4;
    font-size: 14px;
    text-decoration: none;
}