.start-page {
    padding: 30px 0;
}

.start-page .slide-show-container {
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

.start-page .slide-show-container .slide-show-item {
    position: absolute;
    transition: 1s;
    left: 0;
}

.start-page .slide-show-container .slide-show-item .slide-show-content {
    background: #002B7F;
    height: 300px;
    color: #fff;
    padding: 30px;
}

.start-page .slide-show-container .slide-show-item .slide-show-content h2 {
    font-size: 27px;
    margin-bottom: 15px;
}

.start-page .slide-show-container .slide-show-item .slide-show-content p {
    line-height: 26px;
    margin-bottom: 20px;
}

.start-page .slide-show-container .slide-show-item .slide-show-content a {
    color: #FFBC0F;
}

.start-page .slide-show-container .slide-show-item .slide-show-image {
    padding: 0;
}

.start-page .slide-show-container .slide-show-item .slide-show-image img {
    width: 100%;
    height: 300px;
}

.start-page .slide-show-container .slide-show-controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.start-page .slide-show-container .slide-show-controls li.slide-show-dot {
    height: 15px;
    width: 15px;
    background: #f8f8f8;
    border-radius: 7.5px;
    cursor: pointer;
    display: inline-block;
}

.start-page .slide-show-container .slide-show-controls li.slide-show-active-control {
    background: #fcc127;
}

@media (max-width: 990px) {
    .start-page .slide-show-container {
        display: none;
    }
}

.campaign-popup {
    position: relative;
    background-color: #fff;
    background-image: url(/images/investor-popup-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 140px 200px;
    width: auto;
    margin: 20px auto;
    width: 960px;
    height: 630px;
    text-align: center;
}

.campaign-popup .mobile-image {
    display: none;
}

.campaign-popup .logo {
    margin-bottom: 35px;
    z-index: 10;
    position: relative;
    margin: 0 auto 35px auto;
    display: block;
}

.campaign-popup .logo-mobile {
    display: none;
}

.campaign-popup p {
    margin-bottom: 20px;
    line-height: 21px;
    z-index: 10;
    position: relative;
}

.campaign-popup a {
    background: #1b2f59;
    padding: 12px 30px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    z-index: 10;
}

.campaign-popup a span {
    color: #eab755;
}
.campaign-popup .campaign-custom-close {
    position: absolute;
    border: none;
    height: 40px;
    top: 10px;
    right: 10px;
    display: block;
    padding: 3px 50px 0px 3px;
    font-size: 16px;
    background-image: url(/images/investor-popup-close.png);
    background-position: right;
    background-repeat: no-repeat;
    background-color: #fff;
}
.campaign-popup .campaign-custom-close-mobile {
    display: none;
}

@media (max-width: 990px) {
    .campaign-popup {
        width: auto;
        height: auto;
    }
}

@media (max-width: 750px) {
    .campaign-popup {
        position: relative;
        background-color: #fff;
        background-image: url(/images/investor-popup-pattern-mobile.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 220px 15%;
        width: auto;
        margin: 20px auto;
    }
}

@media (max-width: 435px) { 
    .campaign-popup {
        background-image: none;
        padding: 130px 0;
    }

    .campaign-popup .mobile-image {
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: 2;
    }

    .campaign-popup .logo {
        width: 50%;
    }

    .campaign-popup .logo-mobile {
        display: block;
    }

    .campaign-popup .logo-desktop {
        display: none;
    }

    .campaign-popup p {
        display: none;
    }

    .campaign-popup a {
        margin-top: 20px;
    }

    .campaign-popup .campaign-custom-close-mobile {
        display: block;
        background: #fff;
        border: none;
        color: #002b7e;
        z-index: 10;
        text-decoration: underline;
        position: relative;
        margin: 150px auto;
        font-weight: bold;
    }

    .mfp-bg {
        opacity: 0;
    }

    .mfp-content {
        vertical-align: top;
        margin-top: 130px;
    }

    .mfp-container {
        padding: 0;
    }
}

@media (max-width: 400px) { 
    .campaign-popup {
        padding-top: 100px;
    }
}

@media (max-width: 360px) { 
    .campaign-popup .campaign-custom-close-mobile {
        margin-top: 120px;
    }
}  