<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BaseModel ANY>
<!ATTLIST BaseModel id ID #REQUIRED>
<!ELEMENT StartPageModel ANY>
<!ATTLIST StartPageModel id ID #REQUIRED>

]>
<root id="-1">
  <StartPageModel id="1049" key="0eb1a89c-f22d-4e9e-b745-2a6a616ca6e5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-26T15:43:28" updateDate="2016-04-12T07:42:44" nodeName="Home" urlName="home" path="-1,1049" isDoc="" nodeType="1048" creatorName="Robert Ghafoor" writerName="carl.schele" writerID="2" template="1047" nodeTypeAlias="StartPageModel">
    <body><![CDATA[<p>Yoooolp <strong>sss</strong></p>
<p><em>dasdasdasdasdas</em></p>]]></body>
    <header><![CDATA[Hej]]></header>
    <pressrelease><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Pressreleases",
                  "editor": {
                    "alias": "headline"
                  }
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "baf50df2-4166-d869-7891-6850d76ed719"
        },
        {
          "name": "100x50x50",
          "areas": [
            {
              "grid": 9,
              "allowAll": false,
              "allowed": [
                "macro"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "macroAlias": "PressReleases",
                    "macroParamsDictionary": {
                      "Heading": "jkhlhl"
                    }
                  },
                  "editor": {
                    "alias": "macro"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 3,
              "hasConfig": false,
              "controls": [
                {
                  "value": "Bakade potatisen med skagen var helt acceptabel.",
                  "editor": {
                    "alias": "quote"
                  }
                }
              ]
            },
            {
              "grid": 3,
              "hasConfig": false,
              "controls": []
            },
            {
              "grid": 3,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p><span>Bacon ipsum dolor amet swine cupim strip steak venison pork loin meatloaf ham hock cow tail drumstick short loin rump spare ribs meatball prosciutto. Ball tip tenderloin meatball turkey. Shankle swine prosciutto beef ribs turkey frankfurter ham pancetta leberkas salami jowl spare ribs strip steak short loin. Turducken shankle sausage chuck ham hock hamburger kielbasa alcatra bacon ribeye doner. Filet mignon ball tip turkey chicken boudin chuck. Tenderloin jowl pork chop, tail porchetta pancetta rump venison pork belly sausage cow spare ribs sirloin corned beef. Alcatra ham hock turkey ribeye capicola meatball, tenderloin sausage biltong beef tail.</span></p>",
                  "editor": {
                    "alias": "rte"
                  }
                },
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1056,
                    "image": "/media/1002/carl.png",
                    "altText": "carl schele"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "868fba58-2b4f-adff-fba6-4744e966e1e2"
        }
      ]
    }
  ]
}]]></pressrelease>
  </StartPageModel>
  <StartPageModel id="1057" key="790274f6-cfdc-48e0-a596-75485930c2c6" parentID="-1" level="1" creatorID="2" sortOrder="1" createDate="2016-04-12T07:39:22" updateDate="2016-04-12T07:41:06" nodeName="Hem" urlName="hem" path="-1,1057" isDoc="" nodeType="1048" creatorName="carl.schele" writerName="carl.schele" writerID="2" template="1047" nodeTypeAlias="StartPageModel">
    <pressrelease><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></pressrelease>
  </StartPageModel>
</root>