<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BaseModel ANY>
<!ATTLIST BaseModel id ID #REQUIRED>
<!ELEMENT PageNotFoundModel ANY>
<!ATTLIST PageNotFoundModel id ID #REQUIRED>
<!ELEMENT ArticlePageModel ANY>
<!ATTLIST ArticlePageModel id ID #REQUIRED>
<!ELEMENT CategoryPageModel ANY>
<!ATTLIST CategoryPageModel id ID #REQUIRED>
<!ELEMENT StartPageModel ANY>
<!ATTLIST StartPageModel id ID #REQUIRED>

]>
<root id="-1">
  <StartPageModel id="1052" key="afcec10e-0b2b-4d17-a5d7-3d357dfc6797" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-13T09:47:31" updateDate="2016-04-13T15:05:26" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1051" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1048" nodeTypeAlias="StartPageModel">
    <metaForRobots><![CDATA[index, follow]]></metaForRobots>
    <PageNotFoundModel id="1071" key="53c8ed04-deda-4637-a155-9074a627ae00" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2016-04-13T22:46:15" updateDate="2016-04-13T22:46:15" nodeName="404" urlName="404" path="-1,1052,1071" isDoc="" nodeType="1070" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1058" nodeTypeAlias="PageNotFoundModel">
      <metaForRobots><![CDATA[index, follow]]></metaForRobots>
      <body><![CDATA[<p><span>The requested resource could not be found but may be available again in the future. Subsequent requests by the client are permissible.</span></p>]]></body>
      <header><![CDATA[404 - Page not found]]></header>
    </PageNotFoundModel>
    <CategoryPageModel id="1074" key="39e4930b-354e-4e32-a01b-e8a2902cb1ee" parentID="1052" level="2" creatorID="0" sortOrder="1" createDate="2016-04-13T23:01:48" updateDate="2016-04-13T23:04:27" nodeName="About Investor" urlName="about-investor" path="-1,1052,1074" isDoc="" nodeType="1073" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1072" nodeTypeAlias="CategoryPageModel">
      <metaForRobots><![CDATA[index, follow]]></metaForRobots>
      <body><![CDATA[<p>Through our participation on the boards of directors, we work for continuous improvement of the performance of the companies. With our industrial experience, network and financial strength we strive to make our companies best-in-class.</p>
<div class="read-more">
<p>Our cash flow allows us to support strategic initiatives in our companies, capture investment opportunities and provide our shareholders with a dividend.</p>
</div>]]></body>
      <preamble><![CDATA[Investor is the leading owner of Nordic-based international companies, founded by the Wallenberg family a hundred years ago. We own significant minority or majority interests in high quality companies.]]></preamble>
      <header><![CDATA[About Investor]]></header>
      <ArticlePageModel id="1075" key="789ff6d8-7f46-4975-b3d1-38e8235bc007" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2016-04-13T23:07:21" updateDate="2016-04-13T23:07:21" nodeName="Investor at a glance" urlName="investor-at-a-glance" path="-1,1052,1074,1075" isDoc="" nodeType="1069" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1066" nodeTypeAlias="ArticlePageModel">
        <metaForRobots><![CDATA[index, follow]]></metaForRobots>
        <header><![CDATA[Investor at a glance]]></header>
        <preamble><![CDATA[Investor, founded by the Wallenberg family a hundred years ago, is a leading owner of high-quality, international companies.]]></preamble>
        <body><![CDATA[<p><span style="font-style: inherit; font-weight: inherit;">We have a long-term investment perspective and support our companies in their efforts to create sustainable value. Through board participation, industrial experience, our network and financial strength, we strive to make our companies best-in-class.</span></p>
<p><span style="font-style: inherit; font-weight: inherit;"><strong style="font-style: inherit;">Vision</strong><br /></span>As a long-term owner, we actively support the building and development of best-in-class companies.</p>
<p><span style="font-style: inherit; font-weight: inherit;"><strong style="font-style: inherit;">Business concept</strong><br /></span>Investor owns significant stakes in highquality companies. Through the Boards of Directors, we work for continuous improvement of the performance of the companies. With our industrial experience, broad network and financial strength, we strive to make and keep our companies best-inclass. We always look at the opportunities and challenges facing each individual company.</p>
<p><span style="font-style: inherit; font-weight: inherit;">Our cash flow allows us to financially support strategic initiatives in our companies, capture investment opportunities and provide our shareholders with a steadily rising dividend.</span></p>
<p><span style="font-style: inherit; font-weight: inherit;"><strong style="font-style: inherit;">Business areas</strong><br /></span>Our investments are managed within Listed Core Investments, EQT and Patricia Industries. Through substantial ownership and board representation, we engage to develop our companies, both within Listed Core Investments and Patricia Industries. We define value creation plans and benchmark our companies to support them in maintaining or achieving best-in-class positions in their respective industries.</p>
<p><em style="font-style: inherit; font-weight: inherit;">Listed Core Investments<strong style="font-style: inherit;"><br /></strong></em>The Listed Core Investments business area represents the majority of our assets. Our listed core investments are ABB, AstraZeneca, Atlas Copco, Electrolux, Ericsson, Husqvarna, Nasdaq, Saab, SEB, Sobi and Wärtsilä. These are multinational companies with strong market positions and proven track records.</p>
<p><span style="font-style: inherit; font-weight: inherit;"><em style="font-style: inherit; font-weight: inherit;">EQT</em><br /></span>We were one of the founders of EQT and have been a sponsor of its funds since its inception.</p>
<p><span style="font-style: inherit; font-weight: inherit;"><em style="font-style: inherit; font-weight: inherit;">Patricia Industries</em><br /></span>Patricia Industries focuses on the development and expansion of Investor’s unlisted holdings, predominantly our wholly-owned subsidiaries Aleris, BraunAbility, Grand Group, Mölnlycke Health Care, Permobil and Vectura, as well as our partner-owned investment 3 Scandinavia. Within Patricia Industries, Financial Investments is also included, consisting of all legacy Investor Growth Capital investments and other holdings for which the investment horizon has not yet been defined.</p>
<p><span style="font-style: inherit; font-weight: inherit;"><strong style="font-style: inherit;">Offices and employees</strong><br /></span>Our 91 employees are based at our offices in Stockholm, New York and Palo Alto.</p>
<p><span style="font-style: inherit; font-weight: inherit;"><strong style="font-style: inherit;">Chairman</strong><br /></span>Jacob Wallenberg since 2005. </p>
<p><span style="font-style: inherit; font-weight: inherit;"><strong style="font-style: inherit;">President and CEO</strong><br /></span>Johan Forssell since 2015.</p>]]></body>
      </ArticlePageModel>
      <ArticlePageModel id="1076" key="352ccdfe-be06-40c0-a16a-09513aebf7dc" parentID="1074" level="3" creatorID="0" sortOrder="1" createDate="2016-04-14T09:16:45" updateDate="2016-04-14T09:16:45" nodeName="Business concept" urlName="business-concept" path="-1,1052,1074,1076" isDoc="" nodeType="1069" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1066" nodeTypeAlias="ArticlePageModel">
        <metaForRobots><![CDATA[index, follow]]></metaForRobots>
        <header><![CDATA[Owning and developing best-in-class companies]]></header>
        <preamble><![CDATA[We are a long-term owner, focusing on doing what we deem best for each company. Through our international network, strong brand name and active ownership, we create significant value.]]></preamble>
        <body><![CDATA[<p><strong>Objective</strong><br />We are committed to generating an attractive long-term total return, exceeding the market cost of capital. Our long-term return requirement is the risk free interest rate plus an equity risk premium, in total 8-9 percent annually. Our operating priorities are to grow our net asset value, operate efficiently and pay a steadily rising dividend.</p>
<ul>
<li><em><strong>Grow our net asset value:</strong></em> To achieve good net asset value growth, we need to own high-quality companies and be a good owner, supporting our companies to achieve profitable growth. We also need to allocate our capital wisely.</li>
<li><em><strong>Operate efficiently:</strong></em> We maintain strict cost discipline to remain efficient and in order to maximize our operating cash flow.</li>
<li><em><strong>Pay a steadily rising dividend:</strong></em> Our dividend policy is to distribute a large percentage of the dividends received from the listed core investments, as well as to make a distribution from other net assets corresponding to a yield in line with the equity market. The goal is also to pay a steadily rising dividend. </li>
</ul>
<p><strong>Active ownership</strong><br />We are a long-term owner and through our board participation, our network and industrial expertise, we focus on what we deem will create the most value for each holding. Our business model is built on substantial ownership in each holding, enabling us to impact key strategic decisions.</p>
<p><strong>What we invest in</strong><br />We invest in companies in industries we understand well, and in which we can utilize our experience and network as well as our financial expertise.</p>
<p>We have a long-term investment horizon focusing on “buy-to- build”. Our base case is not to divest holdings but rather to develop them over time, as long as we see further value creation potential. If we arrive at the conclusion that a certain holding no longer offers attractive enough potential, or that it would be better off with another main owner, we would actively drive an exit process in order to find a new good owner for the company and maximize the value for our shareholders at the same time.</p>
<p>We look for certain characteristics in our companies. They should have strong market positions, flexible and sustainable business models, high exposure to growth markets and strong cash flow generation. We focus on high-quality companies that we can contribute to developing further over time.</p>
<p>Given our long-term investment horizon, we actively support our companies in making long-term value-creating investments such as expanding their positions in growth markets, R&amp;D and product launches and other efforts to strengthen long-term competitiveness. Attractive products and services are always the basis for long-term competitiveness and a key value driver. Our focus is on maximizing the intrinsic value of our holdings, i.e. the net present value of all future cash flow in the company. Given this, we do not refrain from taking actions with a negative short-term impact, as long as we believe that they will increase the intrinsic value longer-term.</p>
<p><strong>Cash flow platform</strong><br />Over the past few years, we have established a strong cash flow platform. This cash flow allows us to finance investments in both existing and new holdings without divesting other assets. It also allows us to pay a steadily rising dividend. Going forward, our capital allocation focus is to invest through our existing wholly- owned subsidiaries within Patricia Industries and finding new ones. In addition, we will continue to strengthen our ownership in selected listed core investments, and we will also continue to invest in EQT’s funds.</p>]]></body>
      </ArticlePageModel>
      <ArticlePageModel id="1077" key="6f50f30e-97bf-43ff-931f-230d9f7228d1" parentID="1074" level="3" creatorID="0" sortOrder="2" createDate="2016-04-14T09:39:04" updateDate="2016-04-14T09:39:04" nodeName="Organization" urlName="organization" path="-1,1052,1074,1077" isDoc="" nodeType="1069" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1066" nodeTypeAlias="ArticlePageModel">
        <metaForRobots><![CDATA[index, follow]]></metaForRobots>
        <header><![CDATA[Organnization]]></header>
        <preamble><![CDATA[Our strategic assets include our reputation, network and employees. Our organization consists of the Management Group, the investment organizations for Listed Core Investments and Patricia Industries, Corporate Relations & Communications, Group Finance, Human Resources, IT, Legal, Corporate Governance & Compliance, Office Support, and Trading. Our 91 employees are based at our offices in Stockholm, New York and Palo Alto.]]></preamble>
        <body><![CDATA[<p>In addition to our employees, our global network is a unique strategic asset. With Investor's reputation and our long history of developing companies, we have built a strong international brand that we are steadily developing. Our strong brand and network help us come into contact with interesting companies and attract the right people to our organization.</p>
<p><img src="http://www.investorab.com/media/216744/lollo_och_lennart_w3h0632_kopia_500x203.jpg" alt="Lollo &amp; Lelle" width="500" height="203" /></p>]]></body>
        <ArticlePageModel id="1078" key="1c01e4f8-4d0a-4ba1-9adc-5b2e7e67cf8e" parentID="1077" level="4" creatorID="0" sortOrder="0" createDate="2016-04-14T09:42:51" updateDate="2016-04-14T09:42:51" nodeName="Employees" urlName="employees" path="-1,1052,1074,1077,1078" isDoc="" nodeType="1069" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1066" nodeTypeAlias="ArticlePageModel">
          <metaForRobots><![CDATA[index, follow]]></metaForRobots>
          <header><![CDATA[Employees]]></header>
          <preamble><![CDATA[Our employees are central to our value creation model. It is only with the determination and dedication of our people that we can create long-term value for our shareholders and run our operations efficiently. To recruit and retain the right people, we focus on creating a sustainable and attractive workplace that emphasizes competence, professionalism and quality awareness.]]></preamble>
          <body><![CDATA[<p><img src="http://www.investorab.com/media/224022/employees_500x313.jpg" alt="Employees_bw" width="500" height="313" /></p>
<p><strong>Competence development</strong><br />The competence of our employees is key for our ability to conduct our active ownership and operate efficiently. We focus on our employees’ individual long-term development and offer the opportunity to continuously build skills and knowledge.</p>
<p>Internally, Investor has many activities to enhance knowledge and provide information, such as theme lunches, breakfast meetings and conferences. All employees have access to free healthcare and to promote a healthy, balanced lifestyle, Investor conducts various internal activities.</p>
<p><strong>Our culture guides our actions</strong><br />A strong corporate culture is important if we are to successfully achieve our vision and goals. We are constantly developing our corporate culture based on our Core Values; Create value, Continuous improvement, Contribute your view and Care for people. Our Core Values are an integral part of our way of doing business, as well as our high ethical standards. We conduct employee surveys regularly to ensure that we make progress and that we can continue to offer a sustainable, attractive workplace.</p>
<p><strong>Diversity</strong><br />We believe that diversity, making use of the total talent base available, builds stronger and more dynamic teams. Our organization is well diversified in terms of age, gender and expertise. Our ambition is to continue to have at least one man and one woman in the final process for every external recruitment, labor laws permitting. </p>
<p><strong>Employer branding</strong><br />Annually, Investor offers talented students internships at our different departments. This investment is a part of finding and attracting future employees and strengthens our employer brand. Investor also hosts student presentations and meets with students at selected university fairs on a continuous basis.</p>
<p><strong>Collaboration with our holdings</strong><br />Investor continues to focus on improving and developing collaborations with our holdings. In addition to rotation programs and networking, Investor hosts a common job market for Investor and our subsidiaries. The intention is to promote talent exchange between Investor and its subsidiaries, and to further increase knowledge-sharing and sourcing of employees within the sphere.</p>]]></body>
        </ArticlePageModel>
      </ArticlePageModel>
    </CategoryPageModel>
  </StartPageModel>
  <StartPageModel id="1053" key="cedaeb96-c6da-48d9-a068-6ce31ff3b52a" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-04-13T09:48:09" updateDate="2016-04-13T09:48:09" nodeName="Hem" urlName="hem" path="-1,1053" isDoc="" nodeType="1051" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="0" nodeTypeAlias="StartPageModel" />
</root>