<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BaseModel ANY>
<!ATTLIST BaseModel id ID #REQUIRED>
<!ELEMENT PageNotFoundModel ANY>
<!ATTLIST PageNotFoundModel id ID #REQUIRED>
<!ELEMENT StartPageModel ANY>
<!ATTLIST StartPageModel id ID #REQUIRED>

]>
<root id="-1">
  <StartPageModel id="1052" key="afcec10e-0b2b-4d17-a5d7-3d357dfc6797" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-13T09:47:31" updateDate="2016-04-13T15:05:26" nodeName="Home" urlName="home" path="-1,1052" isDoc="" nodeType="1051" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1048" nodeTypeAlias="StartPageModel">
    <metaForRobots><![CDATA[index, follow]]></metaForRobots>
    <PageNotFoundModel id="1062" key="79c91921-d746-4e10-bd60-e5df0d09c08b" parentID="1052" level="2" creatorID="0" sortOrder="0" createDate="2016-04-13T14:50:35" updateDate="2016-04-13T14:57:43" nodeName="404" urlName="404" path="-1,1052,1062" isDoc="" nodeType="1059" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="1058" nodeTypeAlias="PageNotFoundModel">
      <browserTabText><![CDATA[404 - Sidan finns inte]]></browserTabText>
      <header><![CDATA[404 - Page not found]]></header>
      <body><![CDATA[<p><span>The requested resource could not be found but may be available again in the future. Subsequent requests by the client are permissible.</span></p>]]></body>
    </PageNotFoundModel>
  </StartPageModel>
  <StartPageModel id="1053" key="cedaeb96-c6da-48d9-a068-6ce31ff3b52a" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2016-04-13T09:48:09" updateDate="2016-04-13T09:48:09" nodeName="Hem" urlName="hem" path="-1,1053" isDoc="" nodeType="1051" creatorName="Carl Schele" writerName="Carl Schele" writerID="0" template="0" nodeTypeAlias="StartPageModel" />
</root>