/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*table*/
.main-table, 
.main-table th, 
.main-table td { border: 1px solid #a0a2a1 ; border-collapse: collapse ; text-align: left ; color: #868188 ; padding: 5px ;font-size: 11px; }

.main-table th, 
.main-table td { line-height: 10px ; }

.main-table th { background-color: #f2f2f2 ; font-weight: bold ; }

.main-table td:nth-child(2), 
.main-table td:nth-child(4) { text-align: right ; }
.main-table td:nth-child(3) { text-align: center ; }

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

.page #search { padding-left: 3em; padding-right: 3em;padding-bottom: 3em; }
.page .search-wrapper article.search.content.full-width  { padding-left: 3em; padding-right: 3em; }
.page .search-wrapper .breadcrumbs { padding-left: 3em; padding-right: 3em; }

.asterix { font-size: 1em; }