<header>
    <div class="container">
        <div class="top">
            <a class="language" href="#">Svenska</a>
        </div>      
        @Html.Partial("~/Views/Partials/MainNavigation.cshtml")
    </div>
</header>