<nav class="main-navigation" role="navigation">
    <a class="logo" href="#"><img src="~/images/logo.png" alt="investor logo"/></a>
    <ul>
        <li><a href="#"><span class="icon"></span>Projects</a></li>
        <li><a href="#"><span class="icon"></span>Services</a></li>
        <li><a href="#"><span class="icon"></span>Downloads</a></li>
        <li><a href="#"><span class="icon"></span>About</a></li>
    </ul>
</nav>

<nav class="mobile-navigation" data-mobile="true">
    <ul>
        <li id="mobile-main-menu" class="menu">
            <a class="ui">
                <span class="icon"></span> 
            </a>
            <ul class="options">
                <li><a href="#"><span>Projects</span></a></li>
                <li><a href="#"><span>Services</span></a></li>
                <li><a href="#"><span>Downloads</span></a></li>
                <li><a href="#"><span>About</span></a></li>
            </ul>
        </li>
    </ul>
</nav>