<div ng-controller="RelatedLinksController">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Text</td>
                <td>Länk</td>
                <td>Öppna i nytt fönster</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="link in model.value">
                <td style="word-wrap:break-word; word-break: break-all">
                    <span ng-show="!link.edit">{{link.caption}}</span>
                    <input type="text" ng-model="link.caption" ng-show="link.edit" />
                </td>
                <td style="word-wrap:break-word; word-break: break-all">
                    <div ng-show="!link.edit">
                        <a href="{{link.link}}" target="_blank" ng-show="!link.isInternal">{{link.link}}</a>
                        <a href="#/content/content/edit/{{link.internal}}" target="_blank" ng-show="link.isInternal" ng-bind="link.internalName"></a>
                    </div>
                    <div ng-show="link.edit">
                        <div ng-show="isExternalLinkMode(link.mode)">
                            <input type="text" ng-model="link.link" /><br />
                            or <a href="#" ng-click="switchLinkType($event,link, Mode.InternalLink)">choose internal page</a><br />
                            or <a href="#" ng-click="switchLinkType($event, link, Mode.InternalMedia)">choose internal media</a><br />
                        </div>

                        <div ng-show="isInternalLinkMode(link.mode)">
                            <span ng-bind="link.internalName"></span> <a href="#" ng-click="selectInternal($event, link, Mode.ExternalLink)">Choose</a><br />
                            or <a href="#" ng-click="switchLinkType($event,link, Mode.ExternalLink)">enter external link</a><br />
                            or <a href="#" ng-click="switchLinkType($event, link, Mode.InternalMedia)">choose internal media</a><br />
                        </div>
                        
                        <div ng-show="isInternalMediaMode(link.mode)">
                            <span ng-bind="link.internalName"></span> <a href="#" ng-click="selectInternalMedia($event, link, Mode.ExternalLink)">Choose</a><br />
                            or <a href="#" ng-click="switchLinkType($event,link, Mode.ExternalLink)">enter external link</a><br />
                            or <a href="#" ng-click="switchLinkType($event, link, Mode.InternalLink)">choose internal media</a><br />
                        </div>
                    </div>
                </td>
                <td>
                    <input type="checkbox" ng-model="link.newWindow" ng-show="!link.edit" disabled="disabled" />
                    <input type="checkbox" ng-model="link.newWindow" ng-show="link.edit" />
                </td>
                <td>

                    <div class="btn-group" ng-show="!link.edit">
                        <button type="button" class="btn btn-default" ng-click="edit($index)">Edit</button>
                        <button type="button" class="btn btn-default" ng-click="delete($index)">Delete</button>
                    </div>
                    <div class="btn-group" ng-show="link.edit">
                        <button type="button" class="btn btn-default" ng-click="cancelEdit($index)">Cancel</button>
                        <button type="button" class="btn btn-default" ng-click="cancelEdit($index)">Save</button>
                    </div>

                </td>
            </tr>
            <tr ng-show="!IsMaxItems()">
                <td><input type="text" ng-model="newCaption" placeholder="Enter a new caption" val-highlight="hasError" /></td>
                <td>
                    <div ng-show="isExternalLinkMode()">
                        <input type="text" ng-model="newLink" placeholder="Enter the link" />
                        <br /> or
                        <a href="#" ng-click="switch($event, Mode.InternalLink)">choose internal page</a>
                        <br /> or
                        <a href="#" ng-click="switch($event, Mode.InternalMedia)">choose internal media</a>
                    </div>

                    <div ng-show="isInternalLinkMode()">
                        <span ng-bind="newInternalName"></span> <a href="#" ng-click="internal($event)">Choose</a>
                        <br /> or
                        <a href="#" ng-click="switch($event, Mode.ExternalLink)">enter external link</a>
                        <br /> or
                        <a href="#" ng-click="switch($event, Mode.InternalMedia)">choose internal media</a>
                    </div>

                    <div ng-show="isInternalMediaMode()">
                        <span ng-bind="newInternalName"></span> <a href="#" ng-click="internalMedia($event)">Choose</a>
                        <br /> or
                        <a href="#" ng-click="switch($event, Mode.ExternalLink)">enter external link</a>
                        <br /> or
                        <a href="#" ng-click="switch($event, Mode.InternalLink)">choose internal page</a>
                    </div>
                </td>
                <td><input type="checkbox" ng-model="newNewWindow" /> </td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-default" ng-click="add($event)">Add</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>