@using Investor.Abstraction.Pressreleases
@using StructureMap
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage
              
@{
    var pressReleaseRepository = ObjectFactory.GetInstance<IPressReleaseRepository>();
}

<div>
    @if (Model.MacroParameters["Heading"] != null)
    {
        <h1>@(Model.MacroParameters["Heading"].ToString())</h1>    
    }    
</div>

<ul>
    @foreach (var pressRelease in pressReleaseRepository.GetPressReleases())
    {
        <li>@pressRelease.Published.ToString(Umbraco.GetDictionaryValue("DateFormat")) @pressRelease.Published.ToString(Umbraco.GetDictionaryValue("TimeFormat"))
            <p><a href="/investors-media/press-releases/?id=@pressRelease.Id">@pressRelease.Headline</a></p>
        </li>
    }
</ul>