body {
    font-family: arial;
    background: #fff url("/images/page-gradient.png") repeat-x 20px 140px;
}

em, i {
    font-style: italic !important;
}

strong {
    font-weight: bold !important;
}

article h1 {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 31px;  
}

.no-right-padding {
    padding-right: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-padding {
    padding: 0;
}

#fancy_box {
    display: none;
}

article {
    padding: 30px 0;
}

.text-editor-content h2,
.text-editor-content h3 {
    font-weight: bold;
    font-size: 16px;
}

.text-editor-content p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}

.text-editor-content img {
    max-width: 100%;
}

.text-editor-content ul {
    list-style: disc;
    margin-left: 16px;
    margin-bottom: 20px;
}

.text-editor-content ul li {
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 10px 0;
}