body {
    background-color: #f8f8f8;
    font-family: arial;  
}

em, i {
    font-style: italic !important;
}

strong {
    font-weight: bold !important;
}

article {
    padding: 30px 0;
}

article h2 {
    font-size: 27px;
    font-weight: bold;  
}

.no-right-padding {
    padding-right: 0;
}

.no-left-padding {
    padding-left: 0;
}

.white-popup {
    position: relative;
    background-color: #fff;
    background-image: url(/images/investor-popup-pattern.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 140px 170px;
    width: auto;
    margin: 20px auto;
    width: 960px;
    height: 600px;
}

.white-popup image {

}