@*<div class="col-md-12 flexible-push">
    <div class="row">
        <div class="col-md-6">
            <div class="flexible-push-first-column">
                <h2>Bacon ipsum</h2>
                <p>
                    Porchetta pastrami cow jerky, jowl pig
                    turkey filet mignon fatback ham rump cupim
                    ham hock boudin. Andouille tongue sausage
                    sirloin chuck meatball. Strip steak ham hock
                    pork belly ground round jowl sausage beef ribs.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="flexible-push-second-column">
                <h2>Bacon ipsum</h2>
                <p>
                    Porchetta pastrami cow jerky, jowl pig
                    turkey filet mignon fatback ham rump cupim
                    ham hock boudin. Andouille tongue sausage
                    sirloin chuck meatball. Strip steak ham hock
                    pork belly ground round jowl sausage beef ribs.
                </p>
            </div>
        </div>
    </div>
</div>*@

@*<div class="col-md-12 flexible-push">
    <h2>Bacon ipsum</h2>
    <p>
        Porchetta pastrami cow jerky, jowl pig
        turkey filet mignon fatback ham rump cupim
        ham hock boudin. Andouille tongue sausage
        sirloin chuck meatball. Strip steak ham hock
        pork belly ground round jowl sausage beef ribs.
        Porchetta pastrami cow jerky, jowl pig
        turkey filet mignon fatback ham rump cupim
        ham hock boudin. Andouille tongue sausage
        sirloin chuck meatball. Strip steak ham hock
        pork belly ground round jowl sausage beef ribs.
    </p>    
</div>*@

        @*<div class="col-md-12 flexible-push">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flexible-push-first-column">
                            <h2>Bacon ipsum</h2>
                            <p>
                                Porchetta pastrami cow jerky, jowl pig
                                turkey filet mignon fatback ham rump cupim
                                ham hock boudin. Andouille tongue sausage
                                sirloin chuck meatball. Strip steak ham hock
                                pork belly ground round jowl sausage beef ribs.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="flexible-push-second-column">
                            <img src="" alt=""/>
                        </div>
                    </div>
                </div>
            </div>*@

        @*<div class="col-md-12 flexible-push">
                <div class="row">
                    <div class="col-md-6">
                        <div class="flexible-push-first-column">
                            <img src="" alt="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="flexible-push-second-column">
                            <h2>Bacon ipsum</h2>
                            <p>
                                Porchetta pastrami cow jerky, jowl pig
                                turkey filet mignon fatback ham rump cupim
                                ham hock boudin. Andouille tongue sausage
                                sirloin chuck meatball. Strip steak ham hock
                                pork belly ground round jowl sausage beef ribs.
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@

        @*<div class="col-md-12 flexible-push">
            <div class="row">
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        <img src="" alt="" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-second-column">
                        <img src="" alt="" />
                    </div>
                </div>
            </div>
        </div>*@

        @*<div class="col-md-12 flexible-push">
            <img src="" alt="" />
        </div>*@

        @*<div class="col-md-12 flexible-push">
            <div class="row">
                <div class="col-md-6">
                    <div class="flexible-push-first-column">
                        <h2>Bacon ipsum</h2>
                        <p>
                            Porchetta pastrami cow jerky, jowl pig
                            turkey filet mignon fatback ham rump cupim
                            ham hock boudin. Andouille tongue sausage
                            sirloin chuck meatball. Strip steak ham hock
                            pork belly ground round jowl sausage beef ribs.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="flexible-push-second-column">
                        <video controls>
                            <source src="" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        </div>*@
