@using umbraco.NodeFactory
@using Umbraco.Web.Macros

@inherits PartialViewMacroPage

@{
    var heading = Model.MacroParameters["Heading"];
    var ourInvestmentsPageId = Model.MacroParameters["OurInvestments"].ToString();
    var ourInvestmentsPage = new Node(int.Parse(ourInvestmentsPageId));
    var investments = ourInvestmentsPage.ChildrenAsList.Where(x => x.NodeTypeAlias == "ListInvestmentsPageModel");    
}

<div class="col-md-6">
    <h2>@heading</h2>

    @foreach (var investment in investments)
    {
        <a href="@investment.NiceUrl">@investment.Name</a>
                
        if (investment.GetProperty("preamble") != null)
        {
            <span>@investment.GetProperty("preamble").ToString()</span>
        }
    }
</div>