<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <connectionStrings xdt:Transform="Replace">    
    <add name="umbracoDbDSN" connectionString="server=.;database=uat-investor;user id=umbraco_user;password=W24PzjpnJC3K8HU" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>