<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
  </system.web>

  <connectionStrings xdt:Transform="Replace">
    <add name="EPiServerDB" connectionString="Data Source=AMANDA\SQL2014;Initial Catalog=QA-investor;Integrated Security=False;User ID=episerver;Password=episerver;MultipleActiveResultSets=True;Connect Timeout=10" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>