body {
    background-color: #f8f8f8;
}

header {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
    padding: 12px 0 15px;
}

header .top {
    padding-bottom: 50px;
}

header .top a,
header .main-navigation li a {
    font-size: 14px;
    color: #000;
    padding: 0px 20px 0px 10px;
    font-family:'Frutiger LT W01 65 Bold', Arial;  
}

header .main-navigation li .icon {
     width: 1.28571428571429em; 
     height: 1.4285714285714em; 
     background: transparent url("/images/sprite.png") -1.42857142857143em -7.14285714285714em; 
     float: left; margin-top: 0.57142857142857em; 
     margin-right: 0.35714285714286em; 
     -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
     -o-background-size: 14.2857142857143em 14.2857142857143em; 
     -moz-background-size: 14.2857em 14.2857em; 
     background-size: 14.2857em 14.2857em;
}

header .logo {
    position: relative;
    display: block;
    width: 132px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

header .main-navigation li.selected .icon,
header .main-navigation li:hover .icon	{ 
    width: 1.28571428571429em; 
    height: 1.4285714285714em; 
    background: transparent url("/images/sprite.png") -1.42857142857143em -5.71428571428571em; 
    float: left; margin-top: 0.57142857142857em;
     margin-right: 0.35714285714286em; 
     -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
     -o-background-size: 14.2857142857143em 14.2857142857143em; 
     -moz-background-size: 14.2857em 14.2857em; 
     background-size: 14.2857em 14.2857em; 

}

header .main-navigation, .header .main-navigation {
     float: left;
}

header .main-navigation ul {
    float: left; 
    display: inline-block;
    height: 40px; 
}

header .languages .options li {
     display: block !important;
}

/** Common navigation bars elements **/
.main-navigation,
.header .main-navigation {
    display: inline-block; 
}
header .mobile-navigation,
.page .content .page-navigation,
.page .mobile-sub-navigation {
     
     height: 4em; 
     margin-top: -0.1em;
}

.main-navigation ul,
header .mobile-navigation ul,
header .mobile-navigation #search,
.page .content .page-navigation ul,
.page .content .mobile-sub-navigation {
    background: url(/images/separator.svg) no-repeat top right; 
    -webkit-background-size: 1px 40px;
    -o-background-size: 1px 40px;
    -moz-background-size: 1px 40px;
    background-size: 1px 40px;
    padding-right: 1px; 
    overflow: hidden;
}

header .mobile-navigation > ul > li > a,
header .mobile-navigation #search a,
.main-navigation li > a,
.page .content .page-navigation li > a,
.page .mobile-sub-navigation .ui label {
     cursor: pointer; 
     background: url(/images/menu-gradient.png) repeat-x; /* Old browsers */ 
     background: -moz-linear-gradient(top,  #ffffff 58%, #eeeeee 96%, #ffffff 100%); /* FF3.6+ */ 
     background: -webkit-gradient(linear, left top, left bottom, color-stop(58%,#ffffff), color-stop(96%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */ 
     background: -webkit-linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* Chrome10+,Safari5.1+ */ 
     background: -o-linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* Opera 11.10+ */ 
     background: -ms-linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* IE10+ */ 
     background: linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* W3C */ 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

header .mobile-navigation > ul > li,
.main-navigation li,
.page .content .page-navigation li,
.page .mobile-sub-navigation .ui { 
    float: left; 
    line-height: 3.6em; 
    font-family:'Frutiger LT W01 65 Bold', Arial; 
    background: url(/images/separator.svg) no-repeat;  
    -webkit-background-size: 1em 40em; 
    -o-background-size: 1em 4em; 
    -moz-background-size: 1em 4em; 
    background-size: 1em 4em; 
    border-bottom: 0.4em solid #a0a0a0; 
}

header .mobile-navigation > ul > li > a,
header .mobile-navigation #search a,
.main-navigation li a,
.page .content .page-navigation li a,
.page .mobile-sub-navigation .ui label {
     height: 2.571428571em; 
     display: block; 
     border-left: 1px solid white; 
     margin-left: 1px; 
     display: block; 
     line-height: 2.571428571em; 
     padding: 0px 20px 0px 10px; cursor: pointer;
}

.main-navigation li.selected,
.main-navigation li:hover {
     border-bottom: 0.4em solid #002773;
}

.main-navigation li:hover {
     color:  #002773;
}

.main-navigation li .icon {
     width: 1.28571428571429em; 
     height: 1.4285714285714em; 
     background: transparent url("/images/sprite.png") -1.42857142857143em -7.14285714285714em; 
     float: left; margin-top: 0.57142857142857em;
     margin-right: 0.35714285714286em; 
     -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
     -o-background-size: 14.2857142857143em 14.2857142857143em; 
     -moz-background-size: 14.2857em 14.2857em; 
     background-size: 14.2857em 14.2857em;
}

.main-navigation li.selected .icon,
.main-navigation li:hover .icon {
     width: 1.28571428571429em; 
     height: 1.4285714285714em; 
     background: transparent url("/images/sprite.png") -1.42857142857143em -5.71428571428571em; 
     float: left; 
     margin-top: 0.57142857142857em; 
     margin-right: 0.35714285714286em; 
     -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
     -o-background-size: 14.2857142857143em 14.2857142857143em; 
     -moz-background-size: 14.2857em 14.2857em; 
     background-size: 14.2857em 14.2857em;
}

.main-navigation li a {
    padding: 0px 20px 0px 10px;
    text-decoration: none;
}

@media (min-width: 500px) {
    .mobile-navigation {
        display: none;
    }
}

@media (max-width: 500px) {
    .main-navigation {
        display: none;
    }
    .mobile-navigation {
        display: block;
    }
} 