@using Investor.Models.PageModels
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@inherits UmbracoViewPage<CategoryPageModel>
@{
    Layout = "Master.cshtml";
}

<div>
    <h1>@Model.Header</h1>
    <p>@Model.Body</p>
</div>