@using Investor.Models.PageModels

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits UmbracoViewPage<CoWorkersPageModel>

@{
    Layout = "Master.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Partials/SubNavigation.cshtml")
    <article class="co-workers-page col-md-7">
        <h1>@Model.CurrentPage.Name</h1>
        <div class="co-workers-page-info">
            <p><strong>Investor AB</strong><br/><span>Arsenalsgatan 8C</span><br/><span>SE-103 32 Stockholm, SWEDEN</span><br/><span>Telephone: +46 8 614 20 00</span><br/><span>Fax: +46 8 614 21 50</span></p>
        </div>
        <ul class="row">
            <li class="col-md-3">
                <a href="#">
                    <img src="/media/1015/susanna.gif" alt=""/>
                    <span class="co-worker-name">Susanna sjödin</span>
                    <span class="co-worker-position">Communications Officer</span>
                </a>
            </li>
            <li class="col-md-3">
                <a href="#">
                    <img src="/media/1013/magnus.gif" alt=""/>
                    <span class="co-worker-name">Magnus Dalhammar</span>
                    <span class="co-worker-position">Head of Investor Relations</span>
                </a>
            </li>
            <li class="col-md-3">
                <a href="#">
                    <img src="/media/1012/emmelie.gif" alt=""/>
                    <span class="co-worker-name">Emmelie Thuresson</span>
                    <span class="co-worker-position">Communications Officer</span>
                </a>
            </li>
            <li class="col-md-3">
                <a href="#">
                    <img src="/media/1014/stefan.gif" alt=""/>
                    <span class="co-worker-name">Stefan Stern</span>
                    <span class="co-worker-position">Head of Corporate Relations, CR and Communications</span>
                </a>
            </li>
            <li class="col-md-3">
                <a href="#">
                    <img src="/media/1011/david.gif" alt=""/>
                    <span class="co-worker-name">David Lindquist</span>
                    <span class="co-worker-position">Head of Human Resources</span>
                </a>
            </li>
            <li class="col-md-3">
                <a href="#">
                    <img src="/media/1013/magnus.gif" alt="" />
                    <span class="co-worker-name">Magnus Dalhammar</span>
                    <span class="co-worker-position">Head of Investor Relations</span>
                </a>
            </li>
            <li class="col-md-3">
                <a href="#">
                    <img src="/media/1012/emmelie.gif" alt="" />
                    <span class="co-worker-name">Emmelie Thuresson</span>
                    <span class="co-worker-position">Communications Officer</span>
                </a>
            </li>
        </ul>
    </article>
</div>