@using Investor.Models.PageModels

@inherits UmbracoViewPage<IFramePageModel>

@{
    Layout = "Master.cshtml";
    var id = 0;

    if (!string.IsNullOrEmpty(Request.QueryString["id"]))
    {
        id = int.Parse(Request.QueryString["id"]);
    }
}

@Html.Partial("~/Views/Partials/SubNavigation.cshtml")

<div>

@if (id != 0)
{
    <span>här ska det in en pressrelease med id "@id"</span>
}
else
{
    <div>
        <iframe src="@Model.IFrameSrc"></iframe>
    </div>
}

</div>