@using Investor.Models.PageModels

@inherits UmbracoViewPage<InvestmentPageModel>

@{
    Layout = "Master.cshtml";
}

<article class="investment-page">
    <div class="row">
        <div class="col-md-4 pull-right investment-page-next-previous">
            <a href="">Previous investment</a>
            <a href="">Next investment</a>
        </div>

        <h1>@Model.CurrentPage.Name</h1>
    </div>
</article>