@using Investor.Helpers
@using Investor.Models.PageModels

@inherits UmbracoViewPage<ListPresentationsPageModel>

@{
    Layout = "Master.cshtml";
}

<div class="row">
    @Html.Partial("~/Views/Partials/SubNavigation.cshtml")
    <article class="col-md-7 list-presentations-page">
        <h1>Presentations 2015</h1>
        <p>See presentation documentation and webcasts below.﻿</p>
        <h2>2015</h2>

        <ul>
            <li><a href="">Bacon ipsum dolor</a></li>
            <li><a href="">Bacon ipsum dolor</a></li>
            <li><a href="">Bacon ipsum dolor</a></li>
            <li><a href="">Bacon ipsum dolor</a></li>
            <li><a href="">Bacon ipsum dolor</a></li>        
        </ul>
    </article>
</div>