@using Investor.Models.PageModels

@inherits UmbracoViewPage<BaseModel>

@{
	Layout = null;
}

<html lang="@Model.CurrentCulture.TwoLetterISOLanguageName" data-culture="@Model.CurrentCulture.Name">

<head>
    <title></title>
</head>

<body>
    @RenderBody()
</body>

</html>