@using Investor.Models.PageModels

@inherits UmbracoViewPage<StartPageModel>

@{
    Layout = "Master.cshtml";
}

<!-- slideshow start -->
<div class="row">
    <div class="start-page">
        <div class="row">
            @Model.Content.GetGridHtml(Html, "grid")
        </div>
    </div>
</div>