@using Investor.Models.PageModels

@inherits UmbracoViewPage<StartPageModel>

@{
    Layout = "Master.cshtml";
}

<div class="row">
    <div class="start-page">
        @Model.Content.GetGridHtml(Html, "grid")
        <div class="container">
            @Html.Partial("~/Views/MacroPartials/FlexiblePush.cshtml")
        </div>
    </div>
</div>
<script type="text/javascript">$(slideShow.init())</script>