@using Investor.Models.PageModels

@inherits UmbracoViewPage<StartPageModel>

@{
    Layout = "Master.cshtml";
}

<!-- slideshow start -->
<div class="start-page">
    @Model.Content.GetGridHtml(Html, "grid")
</div>