footer { 
    background: #001e5a; /* Old browsers */
    background: -moz-linear-gradient(top,  #001e5a 0%, #002b7e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001e5a), color-stop(100%,#002b7e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* IE10+ */
    background: linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5a', endColorstr='#002b7e',GradientType=0 ); /* IE6-9 */
    overflow: hidden;
    margin-top: 0;
    padding-top: 2em;
    clear: both;
}

footer .columns { 
    clear: both;
    margin-top: 20px; 
}

footer .main-actions {
    float: left;
}

footer .main-actions li {
    display: inline-block;
    margin-right: 32px; 
}

footer .main-actions li a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

footer .introduction { 
    border-bottom: 1px solid #294885; 
    overflow: visible; 
    padding-bottom: 2em;

}

footer .introduction .search {
    float: right;
}

footer .introduction .search input[type=text] {
    border: 1px solid #dbdbdb;
    padding: 5px 1px 5px 10px;
    -moz-box-shadow: inset -4px 3px 4px #e0e0e0;
    -webkit-box-shadow: inset -4px 3px 4px #e0e0e0;
    box-shadow: inset 0px 0.3em 0.4em #e0e0e0;
    width: 300px;
    float: left;
    font-size: 13px;
}

footer .introduction .search input[type=submit] {
    float: right;
    cursor: pointer;
    color: transparent;
    text-transform: capitalize;
    width: 33px;
    height: 27px;
    background: transparent url("/images/sprite.png") -0px -40px;
    padding: 0px;
    text-indent: -200px;
    overflow: hidden;
    border: none;
    margin: 0 -4px 0;
    position: relative;
}

footer .footer-list {
    padding: 0;
    display: block;
}

footer .footer-list ul li a {
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
}

footer .footer-list ul li:first-child a {
    font-size: 18px;
}

footer .copyright {
    padding-top: 20px;
}

footer .copyright p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 14px;
    line-height: 21px;
}

footer .copyright a {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 767px) {
    .footer-list {
        margin-top: 20px;
    }

    .footer .introduction .search {
        float: left;
    }
}
