/*******GENERAL STYLES********/

body {
    background-color: #f8f8f8;
        font-family: arial;  
}

em, i {
    font-style: italic !important;
}

strong {
    font-weight: bold !important;
}

/*******GENERAL STYLES END********/

header {
    background: #fff;
    width: 100%;
    border-bottom: 1px solid #C9C9C9;
    padding: 12px 0 25px;
}

/*******HEADER********/

header .top {
    padding-bottom: 50px;
}

header .top a,
header .main-navigation li a {
    font-size: 14px;
    color: #000;
    padding: 0px 20px 0px 10px;

}

header .main-navigation li .icon {
     width: 1.28571428571429em; 
     height: 1.4285714285714em; 
     background: transparent url("/images/sprite.png") -1.42857142857143em -7.14285714285714em; 
     float: left; margin-top: 0.57142857142857em; 
     margin-right: 0.35714285714286em; 
     -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
     -o-background-size: 14.2857142857143em 14.2857142857143em; 
     -moz-background-size: 14.2857em 14.2857em; 
     background-size: 14.2857em 14.2857em;
}

header .logo {
    position: relative;
    display: block;
    width: 132px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin-right: 20px;
}

header .main-navigation li.selected .icon,
header .main-navigation li:hover .icon	{ 
    width: 1.28571428571429em; 
    height: 1.4285714285714em; 
    background: transparent url("/images/sprite.png") -1.42857142857143em -5.71428571428571em; 
    float: left; margin-top: 0.57142857142857em;
    margin-right: 0.35714285714286em; 
    -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
    -o-background-size: 14.2857142857143em 14.2857142857143em; 
    -moz-background-size: 14.2857em 14.2857em; 
    background-size: 14.2857em 14.2857em; 

}

header .main-navigation, .header .main-navigation {
     float: left;
}

header .main-navigation ul {
    float: left; 
    display: inline-block;
    height: 40px; 
}

header .languages .options li {
     display: block !important;
}

/** Common navigation bars elements **/
.main-navigation,
.header .main-navigation {
    display: inline-block; 
}
header .mobile-navigation {  
    height: 36px;
    margin-bottom: 10px;
    float: right;
}

header .main-navigation ul,
header .mobile-navigation ul,
header .mobile-navigation #search {
    background: url(/images/separator.svg) no-repeat top right; 
    -webkit-background-size: 1px 40px;
    -o-background-size: 1px 40px;
    -moz-background-size: 1px 40px;
    background-size: 1px 40px;
    padding-right: 1px; 
    overflow: hidden;
}

header .mobile-navigation > ul > li > a,
header .mobile-navigation #search a,
.main-navigation li > a {
     cursor: pointer; 
     background: url(/images/menu-gradient.png) repeat-x; /* Old browsers */ 
     background: -moz-linear-gradient(top,  #ffffff 58%, #eeeeee 96%, #ffffff 100%); /* FF3.6+ */ 
     background: -webkit-gradient(linear, left top, left bottom, color-stop(58%,#ffffff), color-stop(96%,#eeeeee), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */ 
     background: -webkit-linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* Chrome10+,Safari5.1+ */ 
     background: -o-linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* Opera 11.10+ */ 
     background: -ms-linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* IE10+ */ 
     background: linear-gradient(top,  #ffffff 58%,#eeeeee 96%,#ffffff 100%); /* W3C */ 
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

header .mobile-navigation > ul > li,
.main-navigation li { 
    float: left; 
    line-height: 3.6em; 
    background: url(/images/separator.svg) no-repeat;  
    -webkit-background-size: 1em 40em; 
    -o-background-size: 1em 4em; 
    -moz-background-size: 1em 4em; 
    background-size: 1em 4em; 
    border-bottom: 4px solid #a0a0a0; 
}

header .mobile-navigation > ul > li > a,
header .mobile-navigation #search a,
.main-navigation li a {
     height: 36px; 
     display: block; 
     border-left: 1px solid white; 
     margin-left: 1px; 
     display: block; 
     line-height: 2.571428571em; 
     padding: 0px 20px 0px 10px; cursor: pointer;
}

.main-navigation li.selected,
.main-navigation li:hover {
     border-bottom: 0.4em solid #002773;
}

.main-navigation li:hover {
     color:  #002773;
}

.main-navigation li .icon {
     width: 1.28571428571429em; 
     height: 1.4285714285714em; 
     background: transparent url("/images/sprite.png") -1.42857142857143em -7.14285714285714em; 
     float: left; margin-top: 0.57142857142857em;
     margin-right: 0.35714285714286em; 
     -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
     -o-background-size: 14.2857142857143em 14.2857142857143em; 
     -moz-background-size: 14.2857em 14.2857em; 
     background-size: 14.2857em 14.2857em;
}

.main-navigation li.selected .icon,
.main-navigation li:hover .icon {
     width: 1.28571428571429em; 
     height: 1.4285714285714em; 
     background: transparent url("/images/sprite.png") -1.42857142857143em -5.71428571428571em; 
     float: left; 
     margin-top: 0.57142857142857em; 
     margin-right: 0.35714285714286em; 
     -webkit-background-size: 14.2857142857143em 14.2857142857143em; 
     -o-background-size: 14.2857142857143em 14.2857142857143em; 
     -moz-background-size: 14.2857em 14.2857em; 
     background-size: 14.2857em 14.2857em;
}

.main-navigation li a {
    padding: 0px 20px 0px 10px;
    text-decoration: none;
}

header .mobile-navigation {
    display: none;
}

@media (max-width: 990px) {
    header .main-navigation ul {
        display: none;
    }

    header .mobile-navigation-section {
        float: right;
    }

	header #mobile-main-menu .options,
	header #search .options {
	    top: 140px; 
        padding: 2em; 
        left: 0; 
        width: 100%; 
        position: absolute; 
        z-index: 100; 
        display: none; 
        background-color: white; 
        font-size: 18px; 
        border: 1px solid #ededed; 
        border-top: 0;
        border-bottom: 4px solid #F08B17;    
	}

    header #mobile-main-menu .options a {
        color: #000;
    }

	header #mobile-main-menu.selected,
	header #search.selected { border-bottom: 0; }
	header #mobile-main-menu .ui { padding: 0 10px; }
	header #mobile-main-menu.selected,
	header #search.selected { background: transparent; }
	header #mobile-main-menu.selected .ui,
	header #search.selected .ui	{ border: 1px solid #cccccc; border-bottom: 0px; height: 4em; position: relative; z-index: 10000; background: white;  -moz-box-shadow: inset -4px 3px 4px #e0e0e0; -webkit-box-shadow: inset -4px 3px 4px #e0e0e0; box-shadow: inset 0px 3px 4px #e0e0e0; }
	
	#second-main-navigation { display: none; }
	
	.header .text-size                                  { display: none !important;}
	
	.page .sub-navigation								{ display: none; }
	.page .container       								{ width: 95%; margin: 0 10px 0 10px; padding-left: 0px; border: 0px; }
	.page .content .page-navigation a .label { display: none; }
	
	.page .content                                      { padding-left: inherit; margin: inherit; border: inherit; width: auto; }
	
	.page .content.full-width                           { width: auto; float: none; }
	
	.page .content .page-navigation li a,
	.page .content .page-navigation .selected > a		{ padding: 0px 5px 0px 12px; }	.page .content .page-navigation a > div.label		{ display: none; }
 	.page .content .page-navigation a div.link + .label	{ display: block; }
	#main-navigation,
	header .second-navigation,
	header .search										{ display: none; }
	header .mobile-navigation							{ display:  inline-block;float: left;margin-top: 0 !important; }
	header #mobile-main-menu .options,
	header #search .options                             { border-top: 1px solid #cccccc !important; }
	header .mobile-navigation .menu .ui .icon		    { width: 18px; height: 20px; background: transparent url("../images/sprite.png") -0px -120px; float: left; margin-top: 8px; margin-right: 5px;  }
	header .mobile-navigation #search .icon				{ width: 18px; height: 20px; background: transparent url("../images/sprite.png") -20px -120px; float: left; margin-top: 8px; margin-right: 5px;  }
	header .mobile-navigation #search					{ border-bottom: 4px solid #f08b17; }
	header .mobile-navigation li > a					{ padding: 0px 15px 0px 15px; }
	
	.page .slide-gallery                                { width: auto; }
	.page .slide-gallery .wrapper .slide-text           { float: none; width: auto; height: 320px; }
	.page .slide-gallery .wrapper .slide-image          { float: none; width: 100% !important; }
	.page .slide-gallery .wrapper li                    { height: auto; }
	.page .slide-gallery .controls                      { width: 100%; text-align: center; right: 0px; }
	.page .slide-gallery .controls li                   { display: inline-block; }
	
	header .second-level-navigation-mobile              { clear: both;display: block;cursor: pointer; }
	
	.page .company .heading                             { width: auto; background: transparent; }
	.page .company .heading .col2 img                   { width: 100%; }
	
	.page .information                                  { float: none; width: 100%; clear: both; }
	
	.page .our-investments .info-boxes
	.box-content .col1 > ul                             { width: 100%; }
	
	.page .our-investments > .col2 img                  { width: 100%; }
	
	.page .video-information.layout-1 .video            { overflow: hidden !important; width: auto !important; padding: 0px !important; margin: 0px !important; margin-bottom: 1em !important; }
	
	.page .left-boxes                                   { width: auto; padding-top: 0px !important; float: none; clear: both; }
	
	.page .left-boxes .box                              { width: auto !important; }
	
	
    header .mobile-sub-navigation						{ margin: 20px 10px 0px 10px; display: block; background: url(../images/menu-separator.png) no-repeat top right; padding-right: 1px; overflow: hidden; }
    header .mobile-sub-navigation .ui					{ display: block; width: 100%; }
    header .mobile-sub-navigation > .ui .icon			{ width: 20px; height: 20px; float: left; background: transparent url("../images/sprite.png") -0px -140px; margin-top: 8px; margin-left: -10px; margin-right: 10px; }
}
/*******END HEADER********/

/*******FOOTER********/

.footer { background: #001e5a; /* Old browsers */
background: -moz-linear-gradient(top,  #001e5a 0%, #002b7e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#001e5a), color-stop(100%,#002b7e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* IE10+ */
background: linear-gradient(top,  #001e5a 0%,#002b7e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5a', endColorstr='#002b7e',GradientType=0 ); /* IE6-9 */
overflow: hidden;
margin-top: 0;
padding-top: 2em;
clear: both;
}

.footer a { color: white; }
.footer .search { float: right; }
.footer .columns > div { float: left; margin-right: 10em; }
.footer .columns > div > ul > li { font-size: 1.4em; line-height: 1.5em; }
.footer .columns > div > ul > li:first-child { font-size: 1.8em; }

.footer .columns { clear: both; margin-top: 2em; }

.footer .main-actions li { display: inline; height: 0.3em; margin-right: 2em; }
.footer .main-actions li > a { line-height: 1.5em; font-size: 1em; }
.footer li { font-size: 1.6em; }
.footer .introduction { border-bottom: 1px solid #294885; overflow: hidden; padding-bottom: 2em; }
.footer .copyright { padding-top: 2em; }
.footer .copyright p { clear: both; font-size: 1.4em; color: White; }
.footer .investment-listing h3 { color: White; font-size: 1.8em; margin-bottom: 0.4em; margin-top: 0.3em; }

/*******END FOOTER********/

/*******GENERAL ARTICLE-STYLES********/

article {
    padding: 30px 0;
}

article h2 {
    font-size: 27px;
    font-weight: bold;  
}

/*******GENERAL ARTICLE-STYLES END********/

/*******ARTICLE-PAGE********/

.article-page {
    border-left: 1px solid rgb(201, 201, 201);
}

.article-page .article-page-content .article-page-header {
    margin-bottom: 20px;
}

.article-page .article-page-content .article-page-premable {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 30px;

}

.article-page .article-page-content .article-page-body p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 24px;
}

.article-page .article-page-content .article-page-body img {
    max-width: 100%;
}

.article-page .article-page-links {
    background: white url(/images/menu-gradient.png) repeat-x bottom left;
    background-color: #fff;
    display: block;
    padding: 15px;
    width: 180px;
    border: 1px solid #d5d5d5;
    border-bottom: 4px solid #A0A0A0;
    margin-bottom: 15px;
}
.article-page .article-page-links h3 {
    font-size: 20px;
    font-style: italic;
    line-height: 26px;
}
.article-page .article-page-links h3 .icon {
    background-image: url('/images/investor_icons_vector.svg');
    -webkit-background-size: 160px 160px;
    -o-background-size: 160px 160px;
    -moz-background-size: 160px 160px;
    background-size: 160px 160px;
    background-position: -110px -10px;
    width: 40px;
    height: 34px;
    display: block;
    float: left;
    margin-top: -8px;

}

.article-page .article-page-links ul {
    margin-top: 15px;
}
.article-page .article-page-links a {
    text-decoration: none;
    font-size: 14px;
    color: #002b7f;
    display: block;
    width: 100%;
    padding: 5px 0;
}

@media (max-width: 990px) {
    .article-page {
        border-left: none;
    }

}

/*******END ARTICLE-PAGE********/

/*******SUB-MENU********/

.sub-navigation {
    padding-top: 25px;
}

.sub-navigation .for-show-menu {
    background: grey;
    height: 200px;
}
	 