<?xml version="1.0" encoding="utf-8" ?>
<UmbExamine>
  <DecodeIndexFormating Enabled="True">
    <PropertyEditorsToDecode>
      <add PropertyEditorAlias="Umbraco.TinyMCEv3" />
      <add PropertyEditorAlias="MacroContainerEditor" />
    </PropertyEditorsToDecode>
  </DecodeIndexFormating>
  <SearchIndexSettings>
    <IndexSet Name="ExternalSearcher">
      <ExcludeIndexFields>
        <add Name="id" />
        <add Name="nodeTypeAlias" />
        <add Name="nodeName" />
        <add Name="parentID" />
        <add Name="hideInNavigation" />
        <add Name="urlName" />
        <!--<add Name="__IndexType" />
        <add Name="__Path" />
        <add Name="__NodeTypeAlias" />-->
      </ExcludeIndexFields>
    </IndexSet>
  </SearchIndexSettings>
</UmbExamine>