<?xml version="1.0" encoding="utf-8" ?>
<UmbExamine>
  <DecodeIndexFormating Enabled="True">
    <PropertyEditorsToDecode>
      <add PropertyEditorAlias="Umbraco.TinyMCEv3" />
      <add PropertyEditorAlias="MacroContainerEditor" />
    </PropertyEditorsToDecode>
  </DecodeIndexFormating>
  <SearchIndexSettings>
    <IndexSet Name="ExternalSearcher">
      <ExcludeIndexFields>
        <add Name="id" />
        <add Name="nodeTypeAlias" />
        <add Name="nodeName" />
        <add Name="parentID" />
        <add Name="hideInNavigation" />
        <add Name="urlName" />
      </ExcludeIndexFields>
    </IndexSet>
    <IndexSet Name="External_sv-SE_Searcher">
      <ExcludeIndexFields>
        <add Name="id" />
        <add Name="nodeTypeAlias" />
        <add Name="nodeName" />
        <add Name="parentID" />
        <add Name="hideInNavigation" />
        <add Name="urlName" />
      </ExcludeIndexFields>
    </IndexSet>
    <IndexSet Name="External_en-US_Searcher">
      <ExcludeIndexFields>
        <add Name="id" />
        <add Name="nodeTypeAlias" />
        <add Name="nodeName" />
        <add Name="parentID" />
        <add Name="hideInNavigation" />
        <add Name="urlName" />
      </ExcludeIndexFields>
    </IndexSet>
  </SearchIndexSettings>
</UmbExamine>